.header {
    background: var(--gray-800);
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
  }
  
  .header img {
    height: 2rem;
  }

  @media (max-width: 768px) {
    html {
      font-size: 87.5%;
    }
  
    .wrapper {
      grid-template-columns: 1fr;
    }
  }